<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Import Videos</title>
	<link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
	<script src="{% static 'js/search-bar.js' %}"></script>
	<script src="{% static 'js/create-table.js' %}"></script>
	<script>
		var currentDir = ""
		$(document).ready(function(){
			loadDirTable("")
		})

		function customizeRow(row, rowIdx, rowData) {
			if(rowData[1]) { // is dir
				row.classList.add("info")
			}
		}

		// Customize cells
		function customizeCell(rowIdx, colIdx, cell, cellData) {
			switch(colIdx) {
				case 0:
				cell.onclick = function(){
					path = currentDir + cellData
					loadDirTable(path)
				}
				break
				case 1:
				cell.innerHTML = cellData? "DIR" : "File"
				break
			}
		}

		function stringEndsWith(str,c) {
            if(str==undefined || str.length == 0) return false

            return str.charAt( str.length - 1 ) == c
        }

        function loadDirTable(dir){
        	if(dir.charAt(0) == '/') {
        		dir = dir.substr(1)
        	}
            $.post("{% url 'manage:dir' %}", { 'dir':dir, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                function(result,status){
                	if(status == "success"){
                		currentDir = result['current_dir']
						if( currentDir.length > 0 && currentDir[currentDir.length-1] != '/' ) {
							currentDir += '/'
						}

						createDirTitle(dir)
						//$(".panel-title").text(currentDir)

						var headers = result['headers']
						var data = result['data']
						createTable($(".panel-body"), headers, data, customizeRow, customizeCell)
                	}
                }
            );
        }

        function createDirTitle(dir) {
        	components = dir.split("/")
        	var titleNode = $(".panel-title")
        	titleNode.empty()
			components.unshift("/")
        	for(var i=0; i<components.length; i++) {
        		span = document.createElement("span")
        		span.innerHTML = components[i]
        		span.classList.add("label")
        		if( (i+1) < components.length ) {
        			span.classList.add("label-primary")

					arr = components.slice(1, i+1)
					path = arr.join("/")
					span.name = path
					span.onclick = function() {
						loadDirTable(this.name)
					}
        		}else{
        			span.classList.add("label-default")
        		}

        		titleNode.append(span)
        		titleNode.append("  ")
        	}
        }

	</script>
</head>
<body>
{% include 'nav.html' %}

<div class="container panel panel-default">
  <div class="panel-heading"><h2 class="panel-title"></h2></div>
  <div class="panel-body">
    Panel content
  </div>
		<div class="panel-footer clearfix">
		<div class="pull-right">
			<button id="import_dir" class="btn btn-primary">Import</button>
		</div>
	</div>
</div>

</body>
</html>