<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Import Videos</title>
	<link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
	<script src="{% static 'js/search-bar.js' %}"></script>
	<script src="{% static 'js/create-table.js' %}"></script>
	<script>
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

    	var csrftoken = getCookie('csrftoken')
		var currentDir = ""
		var data = null
		var functions = null
		$(document).ready(function(){
			loadDirTable("")
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			$("#import-dir").click(function(){
				var pathArr = new Array()
				$("tbody tr th input[type=checkbox]:checked").each(function(){
					row = $(this).parent().parent().index();
					path = currentDir + data[row][0]
					rating = data[row][2]
					pathArr.push([path, rating])
				});

				if( pathArr.length ) {
					importPaths(pathArr)
				}
			});
			updateStatus();
		})

		function importPaths(pathArr) {
			$.ajax({
				url: "{% url 'manage:import-dir' %}",   // Append back slash for put request
				type: "PUT",
				data: JSON.stringify({"path-list": pathArr}),
				success: function(result) {
					console.log(result)
				},
				error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
					console.log("Errors" + event + thrownError)
				}
			});
		}

		function customizeRow(row, rowIdx, rowData) {
			if(rowData[1]) { // is dir
				row.classList.add("info")
			}
		}

		// Customize cells
		function customizeCell(rowIdx, colIdx, cell, cellData) {
			switch(colIdx) {
				case 0:
				cell.onclick = function(){
					path = currentDir + cellData
					loadDirTable(path)
				}
				break
				case 1:
				cell.innerHTML = cellData? "DIR" : "File"
				break
			}

			func = functions[colIdx]
			if( colIdx == 2 ) {
				cell.innerHTML = ""
				input = func(cell, cellData, types[colIdx]);
				key = data[rowIdx][0]
				input.onchange = function() {
					updateRating(this, rowIdx, colIdx)
				}
			}
		}

		function stringEndsWith(str,c) {
            if(str==undefined || str.length == 0) return false

            return str.charAt( str.length - 1 ) == c
        }

        function loadDirTable(dir){
        	if(dir.charAt(0) == '/') {
        		dir = dir.substr(1)
        	}
            $.post("{% url 'manage:import-dir' %}", {'dir': dir, 'csrfmiddlewaretoken': csrftoken},
                function(result,status){
                	if(status == "success"){
                		currentDir = result['current_dir']
						if( currentDir.length > 0 && currentDir[currentDir.length-1] != '/' ) {
							currentDir += '/'
						}
						createDirTitle(dir)

						var headers = result['headers']
						data = result['data']

						splitted = splitHeaders(headers)
						cleanHeaders = splitted.headers
						functions = splitted.functions
						types = splitted.types
						createTable($(".panel-body"), cleanHeaders, data, customizeRow, customizeCell)
                	}
                }
            );
        }

        function updateRating(input, row, col) {
			data[row][col] = input.value
        }

        function createDirTitle(dir) {
        	components = dir.split("/")
        	var titleNode = $(".panel-title")
        	titleNode.empty()
			components.unshift("/")
        	for(var i=0; i<components.length; i++) {
        		span = document.createElement("span")
        		span.innerHTML = components[i]
        		span.classList.add("label")
        		if( (i+1) < components.length ) {
        			span.classList.add("label-primary")

					arr = components.slice(1, i+1)
					path = arr.join("/")
					span.name = path
					span.onclick = function() {
						loadDirTable(this.name)
					}
        		}else{
        			span.classList.add("label-default")
        		}

        		titleNode.append(span)
        		titleNode.append("  ")
        	}
        }

        function updateStatus() {
			$.post("{% url 'manage:import-status' %}", {'csrfmiddlewaretoken': csrftoken},
                function(data,status){
                	if(status == "success"){
                		var importNum = data["import-num"]
                		var taskNum = data["task-num"]

						status = importNum>0 ? importNum + " importing thread running " : "No import thread running"
						if( taskNum > 0 ) {
							status += ". Tasks in queue:" + taskNum
						}
						$("#status").removeClass("alert-warning")
						$("#status").removeClass("alert-success")

						$("#status").addClass( importNum>0 ? "alert-warning" : "alert-success" )
						$("#status strong").text(status)
						setTimeout(updateStatus, 1000) //Update every second
                	}
                }
            );
        }

	</script>
</head>
<body>
{% include 'nav.html' %}

<div id="status" class="alert container">
	<strong></strong>
</div>

<div class="container panel panel-default">
  <div class="panel-heading"><h2 class="panel-title"></h2></div>
  <div class="panel-body">
    Panel content
  </div>
		<div class="panel-footer clearfix">
		<div class="pull-right">
			<button id="import-dir" class="btn btn-primary">Import</button>
		</div>
	</div>
</div>

</body>
</html>