<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Management</title>
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/search-bar.js' %}"></script>
	<script src="{% static 'js/create-table.js' %}"></script>
	<script src="{% static 'js/video-thumb.js' %}"></script>
    <script>
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

    	var tableName = "video"
    	var pg = 0
    	var dbUrl = "/manage/db/"
    	var data = null
    	var csrftoken = getCookie('csrftoken')
        $(document).ready( function(){
        	$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			$(".nav.nav-tabs>li>a").click(function(){
				tableName = $(this).attr("name")
				id = $(this).attr("href")
				id = id + ">.panel-body"
				loadDbTable($(id), tableName, 0)
			});

			loadDbTable($("#video>.panel-body"), "video", 0)
        })

        function createCheckboxElement(type) {
        	element = document.createElement("th")
        	element.innerHTML = '<input type="checkbox" class="checkbox">'
        	return element
        }

		function loadDbTable(parent, table, pg) {
			$.get( dbUrl + table, {'pg':pg},
			function(result,status){
				if(status == "success"){
					tableName = table
					headers = result["headers"]
					data = result["data"]

					splitted = splitHeaders(headers)
					cleanHeaders = splitted.headers
					functions = splitted.functions
					types = splitted.types
					createTable(parent, cleanHeaders, data, function(){}, function(rowIdx, colIdx, cell, cellData){
						if( colIdx == 2 ) {
							cell.innerHTML = durationStringFromSeconds(cellData)
						}
						func = functions[colIdx]
						if( func ) {
							cell.innerHTML = ""
							input = func(cell, cellData, types[colIdx]);
							key = data[rowIdx][0]
							input.onchange = function() {
								updateCellInput(this, cleanHeaders[colIdx], cellData, key)
							}
						}
					})
				}
			}
			);
		}

		// Strip format specifiers in header
		function splitHeaders(headers) {
			newHeaders = new Array()
			functions = new Array()
			types = new Array()
			var pattern = /(.*)\[(.*)\]/
			for( var i=0; i<headers.length; i++ ) {
				field = headers[i]
				var match = pattern.exec(field)
				var type = ""
				func = null
				if(match) {
					field = match[1]
					type = match[2]
					var optionPattern = /options\((.*)\)/
					match = optionPattern.exec(type)
					choices = ""
					if( match ) {
						options = match[1].split("|")
						func = function(cell, cellData, type){
							select = document.createElement("select")
							for(var iOption=0; iOption<options.length; iOption++) {
								option = document.createElement("option")
								option.value = iOption
								option.innerHTML = options[iOption]
								if(cellData == iOption) {
									option.setAttribute("selected", "selected")
								}
								select.append(option)
							}
							cell.append(select)
							return select
						}
					}else{
						func = function(cell, cellData, type) {
							input = document.createElement("input")
							input.type = type
							input.value = cellData
							cell.append(input)
							return input
						}
					}

				}
				types.push(type)
				newHeaders.push(field)
				functions.push(func)
			}
			return {
				'types': types,
				'headers': newHeaders,
				'functions': functions
			}
		}

		function updateCellInput(input, field, oldValue, key) {
			$.ajax({
				url: dbUrl + tableName + "/",   // Append back slash for put request
				type: "PUT",
				data: {"key": key, "field": field, "field-value": input.value},
				success: function(result) {
					input.style.backgroundColor = "#b3ffb3";
				},
				error: function(event, XMLHttpRequest, ajaxOptions, thrownError) {
					input.style.backgroundColor = "#ffad99";
					input.value = oldValue
				}
			});
		}
    </script>
</head>
<body>
{% include 'nav.html' %}

<!-- Tab -->
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#video" name="video" data-toggle="tab">
				 Videos
			</a>
		</li>
		<li><a href="#keywords" name="keywords" data-toggle="tab">Keywords</a></li>
	</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="video">
		<div class="panel-body"></div>
	</div>
	<div class="tab-pane fade" id="keywords">
		<div class="panel-body"></div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<a href="#" class="btn btn-danger">Delete</a>
		</div>
	</div>
</div>
<!-- Tab End -->
</div>
</body>
</html>