<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Management</title>
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/search-bar.js' %}"></script>
    <script>
    	var table = "video"
    	var pg = 0
        $(document).ready( function(){
			$(".nav.nav-tabs>li>a").click(function(){
				tableName = $(this).attr("name")
				id = $(this).attr("href")
				id = id + ">.panel-body"
				loadTable($(id), tableName, 0)
			});

			loadTable($("#video>.panel-body"), "video", 0)
        })

        function createCheckboxElement(type) {
        	element = document.createElement("th")
        	element.innerHTML = '<input type="checkbox" class="checkbox">'
        	return element
        }

        function loadTable(parent, tableName, pg)
        {
        	$.post("{% url 'manage:db' %}",{'table': tableName, 'pg':pg, 'csrfmiddlewaretoken': getCookie('csrftoken')},
			function(result,status){
				if(status == "success"){
					headers = result["headers"]
					data = result["data"]

					table = document.createElement("table")
					parent.empty()
					parent.append(table)
					table.classList.add("table")
					table.classList.add("table-hover")

					thead = document.createElement("thead")
					table.append(thead)

					tableHeader = document.createElement("tr")
					thead.append(tableHeader)
					tableHeader.innerHTML = ""
					// Add selection column
					th = createCheckboxElement("th")
					input = th.getElementsByClassName("checkbox")[0]
					input.classList.add("check-all")
					tableHeader.append(th)
					// Listen to click event
					$(".check-all").click(function(){
						var checked = $(this).attr("checked")
						if( typeof(checked) == 'undefined' ) {
							$("input[type='checkbox']").attr("checked", true);
						}else{
							$("input[type='checkbox']").attr("checked", false);
						}
					});

					for(var i=0; i<headers.length; i++) {
						h = headers[i]
						th = document.createElement("th")
						th.innerHTML = h
						tableHeader.append(th)
					}

					tableBody = document.createElement("tbody")
					table.append(tableBody)
					tableBody.innerHTML = ""
					for(var i=0; i<data.length; i++) {
						row = data[i]
						tr = document.createElement("tr")
						td = createCheckboxElement("td")
						tr.append(td)
						for(var j=0; j<row.length; j++){
							cell_data = row[j]
							td = document.createElement("td")
							td.innerHTML = cell_data
							tr.append(td)
						}
						tableBody.append(tr)
					}
				}
			});
        }
    </script>
</head>
<body>
{% include 'nav.html' %}

<!-- Tab -->
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#video" name="video" data-toggle="tab">
				 Videos
			</a>
		</li>
		<li><a href="#keywords" name="keywords" data-toggle="tab">Keywords</a></li>
	</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="video">
		<div class="panel-body"></div>
	</div>
	<div class="tab-pane fade" id="keywords">
		<div class="panel-body"></div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<a href="#" class="btn btn-danger">Delete</a>
		</div>
	</div>
</div>
<!-- Tab End -->
</div>
</body>
</html>