<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Management</title>
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/search-bar.js' %}"></script>
	<script src="{% static 'js/create-table.js' %}"></script>
	<script src="{% static 'js/video-thumb.js' %}"></script>
    <script>
    	var table = "video"
    	var pg = 0
        $(document).ready( function(){
			$(".nav.nav-tabs>li>a").click(function(){
				tableName = $(this).attr("name")
				id = $(this).attr("href")
				id = id + ">.panel-body"
				loadDbTable($(id), tableName, 0)
			});

			loadDbTable($("#video>.panel-body"), "video", 0)
        })

        function createCheckboxElement(type) {
        	element = document.createElement("th")
        	element.innerHTML = '<input type="checkbox" class="checkbox">'
        	return element
        }

		function loadDbTable(parent, tableName, pg) {
			$.post("{% url 'manage:db' %}",{'table': tableName, 'pg':pg, 'csrfmiddlewaretoken': getCookie('csrftoken')},
			function(result,status){
				if(status == "success"){
					headers = result["headers"]
					data = result["data"]

					createTable(parent, headers, data, function(){}, function(rowIdx, colIdx, cell, cellData){
						if( colIdx == 2 ) {
							cell.innerHTML = durationStringFromSeconds(cellData)
						}
					})
				}
			}
			);
		}
    </script>
</head>
<body>
{% include 'nav.html' %}

<!-- Tab -->
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#video" name="video" data-toggle="tab">
				 Videos
			</a>
		</li>
		<li><a href="#keywords" name="keywords" data-toggle="tab">Keywords</a></li>
	</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="video">
		<div class="panel-body"></div>
	</div>
	<div class="tab-pane fade" id="keywords">
		<div class="panel-body"></div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<a href="#" class="btn btn-danger">Delete</a>
		</div>
	</div>
</div>
<!-- Tab End -->
</div>
</body>
</html>