<body bgcolor="1c1d1a" align="center">
{% include 'nav.html' %}
<br>
<br>
<style>
		body{text-align:center}
		.title{margin:0 auto;background-color:FF1010; width:300px;}

</style>
<font name="Arial Black" color="FFFFFF">

	<div class="title">
		<h1>
			<font name="Arial Black" color="FFFFFF">FBI WARNING</font>
		</h1>
	</div>
	<h1>Internal Error</h1>
	<p>Ah, Dude, seems we got a problem</p>
	<p>哥们，出问题啦</p>
	<br>
	<p><a href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home"></span> 返回主页</a></p>
</font>
</body>