<link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/common.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/search-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/video-thumb.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flip.js' %}"></script>