<head>
  {% load static %}
  <link href="{% static 'css/video-js.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
</head>

<body>
  <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
  poster="{% static thumb %}" data-setup="{}" ontimeupdate="myFunction(this)">
     <!-- source src="{% static video %}" type="video/mp4" -->
      <source src="{% url 'stream' video %}" type="video/mp4">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
  <button class="vjs-big-play-button" type="button" aria-live="polite" title="Play Video" aria-disabled="false">
    <!--<span class="vjs-control-text">Play Video</span> -->
  </button>
  <script src="{% static 'js/video.min.js' %}"></script>
  <i class="fa fa-thumbs-up">16</i>
  <i class="fa fa-thumbs-down">5</i>
  <button value="" class="fa fa-thumbs-up btn">16</button>
  <button value="" class="fa fa-thumbs-down ">5</button>
</body>
