<head>
  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

  <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/video-thumb.css' %}">
    <script type="text/javascript" src="{% static 'js/video-thumb.js' %}"></script>
  <style>
    .fa.fa-thumbs-up, fa.fa-thumbs-down{
      cursor:pointer;
    }

    .row{
        position:relative;
    }

    #vidStatus{
      /* Center */
      position: absolute;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
      width:100px;
      height:60px;
      color:white;
      background:black;
      opacity:0.7;
      border-radius:6px;
      border-width:0;
      z-index:5;
    }

    li{
      list-style-type:none;
    }

  </style>
  <script>
    $(document).ready( function(){
      loadRate(0)
      loadRecommendVideos()

      $("i.glyphicon.glyphicon-thumbs-up").click( function(){
        loadRate(1)
      } )

      $("i.glyphicon.glyphicon-thumbs-down").click( function(){
        loadRate(-1)
      } )

      $("video,#vidStatus").click(function(){
        var video = $("video")[0]
        if( video.paused ) {
          video.play()
          $("#vidStatus").attr("class","fui-pause")
          $("#vidStatus").hide()
        }else{
          video.pause()
          $("#vidStatus").attr("class","fui-play")
          $("#vidStatus").show()
        }
      })
    });
    function loadRate(option){
      	$.post("{% url 'rate-video' %}", { 'id':{{ video }}, 'op':option,'csrfmiddlewaretoken': getCookie('csrftoken')},
			function(data,status){
			if(status == "success"){
				//var counts = JSON.parse(data)
				likeCount = data["like"]
				dislikeCount = data["dislike"]

				$("i.glyphicon.glyphicon-thumbs-up").text(likeCount)
				$("i.glyphicon.glyphicon-thumbs-down").text(dislikeCount)
			}
		})
    }

    function loadRecommendVideos(){
      $.post("{% url 'recommend-videos' %}", { 'id':{{ video }}, 'csrfmiddlewaretoken': getCookie('csrftoken') },
        function(data,status){
          var vidList = $("#videos")
          vidList.empty()
          var videos = data['videos']
          for( var i=0; i<videos.length; i++ ) {
            video = videos[i]
            li = createThumbFromVideo(video)
            vidList.append(li)
          }
      })
    }
  </script>
</head>

<body>

{% include 'nav.html' %}

<div class="container">
<div class="row">
    <video controls="controls" preload="auto" width="100%" height="auto" poster="{% static 'cover' %}/{{ video }}.png">
      <source src="{% url 'stream' video %}" type="video/mp4">
    </video>
    <button id="vidStatus"><i class="glyphicon glyphicon-play"></i></button>
    <div class="row">
      <i class="glyphicon glyphicon-thumbs-up"></i>
      <i>   </i>
      <i class="glyphicon glyphicon-thumbs-down"></i>
  </div>
</div>
</div>
    <div class="mycontainer">
      <ul id="videos">
      </ul>
    </div>
  <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/search-bar.js' %}"></script>
</body>
