<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script>
        $(document).ready( function() {
            var data = {{ data|safe }}
            var info = data["weatherinfo"]

            if(info == undefined) {
                $("#cityname").text("Failed to get weather information")
            }else{
                $("#cityname").text(info["cityname"])
                $("#weather").text(info["weather"])
                var temp = info["temp"] + " ~ " + info["tempn"]
                $("#temp").text(temp)
                $("#wd").text(info["wd"])
                $("#wd-power").text(info["ws"])
            }
        });
    </script>
</head>
<body>
<p>
    <h1 id="cityname"></h1>
    <h2 id="weather"></h2>
    <h3 id="temp"></h3>
    <h3 id="wd"></h3>
    <h3 id="wd-power"></h3>
</p>

</body>
</html>