@media (max-width:767px){
    .container{
        width:100%;
    }

    li.thumb-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
@media (min-width:768px){
    .container{
        margin-left:30px;
        margin-right:30px;
    }

    li.thumb-container {
        width: 240px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .navbar-header>.input-group{
        max-width: 320px;
    }
}

@media (min-width:993px){
    .navbar-header>.input-group{
        max-width: 400px;
    }
}

.container{
    margin-top:0;
}
.body-container{
    background-color: #F1F1F1;
}

.navbar{
    background-color: #FFF;
}

a{
    color: #000;
}

#nav-list>li>a{
    font-family: Oswald Regular,Arial,sans-serif;
    font-size: 1.6rem;
}

li>a:hover, li>a:focus {
    color: #DF4135;
}

body{
    background-color: #F1F1F1;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover{
    color: #FFF;
    background-color: #DF4738 !important;
}

#sug-list{
    z-index:5;
    width:100%;
    position:absolute;
    color:000;
    top:36px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    display: block;
}

li{
    list-style-type:none;
}

.navbar-header>.input-group{
    margin-top:15px;
}