<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Tools-Glyphicons</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/search-bar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pageidx.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <style>
        object{
            width:32px;
            height:32px;
            fill:#38f;
        }
        embed<iframe src="circle1.svg"></iframe>
{
            width:32px;
            height:32px;
            fill:#38f;
        }
        ul{
            list-style:none;
        }
        li{
            float:left;
            padding:10px;
        }
    </style>
    <script>
        $(document).ready( function(){
            current = {{ pg }}
            total = {{ pgNum }}

            function genPgUrl(dummy, idx) {
                return "/glyph/" + idx + "/"
            }

            updatePageIndex(current,total,"", genPgUrl)
        });
    </script>
</head>
<body>
    {% include 'nav.html' %}
    <ul>
    {% for svg in svg_list %}
        <li><object data="{% static 'svg'%}/{{ svg }}" type="image/svg+xml">
            <img src="{% static 'images/no-img.png' %}" />
            </object>
        </li>
    {% endfor %}
    </ul>

    <nav class="mycontainer" aria-label="Page navigation">
      <ul id="pages" class="pagination">
      </ul>
    </nav>
</body>
</html>